<h1>This is a list of <%= current_user.name %>'s Deals!!!</h1>
<ol>
<% @deals.each do |deal|  %>
    <li><%= link_to deal.name, deal %></li>
    <% end %>
</ol>

<% if is_managing_director %>
<h1>This is a list of Everyone's Deals!!!</h1>
<ol>
<% @alldeals.each do |deal|  %>
    <li><%= link_to deal.name, deal %></li>
    <% end %>
</ol>

<% end %>

<%= button_to "Add Deal", new_user_deal_path(@user), method: "get" %>
