<h1>This is a list of <%= current_user.name %>'s Deals!!!</h1>
<ol>
<% @deals.each do |deal|  %>
    <li><%= link_to deal.name, @deal %></li>
    <% end %>
</ol>

<%= button_to "Add Deal", new_user_deal_path(@user), method: "get" %>
