<h1>This is the deals index</h1>
<ol>
<% @deals.each do |deal|  %>
    <li><%= link_to deal.name, deal %></li>
    <% end %>
</ol>

<%= link_to "Add Deal", new_deal_path %>
<%= link_to "Logout", logout_path %>
