<h1>This is a list of <%= current_user.name %>'s Deals!!!</h1>
<ol>
<% @deals.each do |deal|  %>
    <li><%= link_to deal.name, user_deal_path(current_user.id, deal.id) %></li>
    <% end %>
</ol>

<%= button_to "Add Deal", new_user_deal_path(current_user.id), method: "get" %>
