<h1>This is the deals index</h1>
<ol>
<% @deals.each do |deal|  %>
    <li><%= link_to deal.name, deal %></li>
    <% end %>
</ol>

<p>You are Logged in As <%= current_user.name %></p>

<%= button_to "Add Deal", new_deal_path, method: "get" %>
